@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'IBM Plex Mono', monospace;
    cursor: url(image.png);
}

.div-header {
    height: 60px;
    background-color: black;
    color: rgb(255, 200, 0);
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'Monofett', monospace;
    justify-content: center;
    border-bottom: solid 1px #fff;
}

.big {
    font-size: 20px;
}

.small {
    font-size: 13px;;
}

.imageprofile {
    width: 100vw;
    max-width: 100%;
}

.div {
    background-image: url(animated.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.h1 {
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    text-shadow: 0 0 5px black;
    font-weight: 700;

}

.h1-2 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 70;
    text-shadow: 0 0 5px black;
    line-height: 45px;
    font-size: 23px;
    padding: 10px 40px;
  

}

a {
    color: white;
    text-decoration: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    gap: 20px;
    padding: 20px 0px;
}

.child {
    background: white;
    color: black;
    text-align: center;
    flex: 0 1 auto;
    border-radius: 10px;
    margin: 0 20px;
}

.image {
    max-width: 330px;
    border-radius: 10px 10px 0px 0px;
}

.child-of-child {
    padding: 0px 0px 10px 0px ;
}